Package: yoga-spin
Version: 0.1.0
Architecture: all
Maintainer: Ragnar Brynjulfsson <me@ragnarb.com>
Installed-Size: 128
Section: misc
Depends: python-qt4, python-numpy, xinput, x11-xserver-utils, xserver-xorg-input-wacom
Priority: extra
Description: Tool for swapping between Tablet and Laptop modes on ThinkPad Yoga 12
 This tool runs in the background, and can be sent commands to flip between Laptop
 and Tablet mode. In Tablet mode it uses the motion sensor in the machine to orient
 the display.
 .
 In addition it includes support for palm rejection when using the Wacom pen.
 .
 Forked from spin.py from https://github.com/wdbm/spin
Homepage: http://ragnarb.com/thinkpad-yoga-12
