[Desktop Entry]
Name=Yoga Spin - Toggle Mode
Exec=spin.py --mode
Terminal=false
Type=Application
Icon=yoga-spin-mode

X-Ayatana-Desktop-Shortcuts=lock;touch;calibrate;reset

[lock Shortcut Group]
Name=Toggle Rotation Lock
Exec=spin.py --rotatelock
TargetEnvironment=Unity

[touch Shortcut Group]
Name=Toggle Touch Screen
Exec=spin.py --toggletouch
TargetEnvironment=Unity

[calibrate Shortcut Group]
Name=Calibrate Stylus
Exec=spin.py --calibrate
TargetEnvironment=Unity

[reset Shortcut Group]
Name=Reset Stylus Calibration
Exec=spin.py --reset
TargetEnvironment=Unity
